<% include header.ejs %>
<div class="container">
    <div class="row justify-content">
        <div class="col-12">
            <form>
                <div class="form-group col-12">
                    <label for="link">AMZ URL</label>
                    <textarea class="form-control" rows="10" id="link"></textarea>
                </div>
                <button type="button" id="btn-execute" class="btn btn-info">Execute</button>
            </form>
        </div>
    </div>
</div>
<script>
    $(function() {
        $('#btn-execute').on('click', (e) => {
            e.preventDefault()
            var strLinks = $("#link").val();

            if (!strLinks) return

            return new Promise((resolve, reject) => {
                $.post({
                    url: '/amz-img',
                    data: {links: strLinks},
                    dataType: 'json',
                    success: function (json) {
                        console.log('ajax')
                        resolve(json)
                    },
                    error: function (xhr, status, err) {
                        reject(err)
                    }
                })
            })
            .then(res => {
                return Promise.each(res.result, item => {
                    downloadImg(item)
                })
            })
            .catch(console.log) 
        })

        function downloadImg(item) {
            var xhr = new XMLHttpRequest();
            xhr.open("GET", item.url, true);
            xhr.responseType = "blob";
            xhr.onload = function(){
                var urlCreator = window.URL || window.webkitURL;
                var imageUrl = urlCreator.createObjectURL(this.response);
                var tag = document.createElement('a');
                tag.href = imageUrl;
                tag.download = item.name + '.png';
                document.body.appendChild(tag);
                tag.click();
                document.body.removeChild(tag);
            }
            xhr.send();
        }
    })
</script>
<% include footer.ejs %>